@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    @font-face {
        font-family: 'Scoville';
        src: url('@/assets/fonts/scoville.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Alinsa';
        src: url('@/assets/fonts/alinsa.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

}

:root{
    @apply bg-bad-red text-white font-scoville;
}
